<div *ngIf="cartItems.length > 0; else emptyCart">
  <h3>Your wonder cart</h3>
  <table class="table table-hover">
      <thead>
        <th>Product name</th>
        <th>Price</th>
        <th>Quantity</th>
        <th></th>
      </thead>
      <tbody>
        <tr *ngFor="let cartItem of cartItems">
          <td>{{cartItem.product.name}}</td>
          <td>{{cartItem.product.price}}</td>
          <td>{{cartItem.quantity}}</td>
          <td>
            <div class="btn-group">
                <button type="button"
                  class="btn btn-default btn-xs"
                  (click)="onAddProductQuantity(cartItem)">
                  <span class="glyphicon glyphicon-plus"></span>
                </button>
                <button type="button"
                  class="btn btn-default btn-xs"
                  (click)="onDeductProductQuantity(cartItem)">
                  <span class="glyphicon glyphicon-minus"></span>
                </button>
            </div>
            <button class="btn btn-danger btn-xs"
              (click)="onDeleteProduct(cartItem)">Remove</button>
          </td>
        </tr>
      </tbody>
    </table>
</div>
<ng-template #emptyCart>Your cart is empty. Start buying something wonderful.</ng-template>
